@charset "UTF-8";

@font-face {
  font-family: "Raleway";
  font-display: swap;
  src: url("../fonts/Raleway-Bold.woff") format("woff"), url("../fonts/Raleway-Bold.woff2") format("woff2");
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: "Raleway";
  font-display: swap;
  src: url("../fonts/Raleway-Medium.woff") format("woff"), url("../fonts/Raleway-Medium.woff2") format("woff2");
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: "icons";
  font-display: swap;
  src: url("../fonts/icons.woff") format("woff"), url("../fonts/icons.woff2#icons") format("woff2");
  font-weight: normal;
  font-style: normal;
  font-display: block;
}

[class^=_icon-]::before,
[class*=" _icon-"]::before {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: "icons" !important;
  speak: never;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

._icon-cllose-button:before {
  content: "\e911";
}

._icon-carrot:before {
  content: "\e910";
}

._icon-telegram:before {
  content: "\e90f";
}

._icon-arrow:before {
  content: "\e90e";
}

._icon-catalog:before {
  content: "\e90d";
}

._icon-facebook:before {
  content: "\e900";
}

._icon-faq:before {
  content: "\e901";
}

._icon-favourite:before {
  content: "\e902";
}

._icon-garden:before {
  content: "\e903";
}

._icon-instagram:before {
  content: "\e904";
}

._icon-point-of-issue:before {
  content: "\e905";
}

._icon-profile:before {
  content: "\e906";
}

._icon-search:before {
  content: "\e907";
}

._icon-paper-plane:before {
  content: "\e908";
}

._icon-shopping-cart:before {
  content: "\e909";
}

._icon-twitter:before {
  content: "\e90a";
}

._icon-youtube:before {
  content: "\e90b";
}

._icon-viber:before {
  content: "\e90c";
}

body.mouse .popup__close__button:hover {
  background-color: rgba(0, 0, 0, 0.2);
}

body.mouse .language__choice:hover {
  border: 2px solid var(--main-color);
}

body.mouse .language__choice.active:hover {
  background-color: rgba(255, 166, 0, 0.3);
  border: 2px solid var(--main-color);
}

body.mouse .social__media:hover {
  background: transparent;
  -webkit-box-shadow: 1px 1px 4px rgba(0, 0, 0, 0.25), -1px -1px 4px rgba(0, 0, 0, 0.25);
          box-shadow: 1px 1px 4px rgba(0, 0, 0, 0.25), -1px -1px 4px rgba(0, 0, 0, 0.25);
}

body.mouse ._icon-facebook:hover {
  background-image: -webkit-gradient(linear, left top, left bottom, from(#17A9FD), to(#0165E1));
  background-image: linear-gradient(180deg, #17A9FD, #0165E1);
  color: transparent;
  -webkit-background-clip: text;
          background-clip: text;
}

body.mouse ._icon-twitter:hover {
  color: #1DA1F2;
}

body.mouse ._icon-youtube:hover {
  color: #FF0000;
}

body.mouse ._icon-instagram:hover {
  background-image: linear-gradient(45deg, #ffb700 14.65%, #ff6800 31.68%, #cb217d 54.72%, #7e00aa 85.35%);
  color: transparent;
  -webkit-background-clip: text;
          background-clip: text;
}

body.mouse ._icon-telegram:hover {
  color: #229ED9;
}

body.mouse ._icon-viber:hover {
  color: #7360f2;
}

body.mouse .hamb__field:hover {
  background-color: rgba(0, 0, 0, 0.2);
  border-radius: 15%;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}

body.mouse .dropper__nav__choice:hover {
  text-decoration: underline;
}

body.mouse .menu__item:hover {
  background-color: rgba(0, 0, 0, 0.15);
  -webkit-transition: 0.5s;
  transition: 0.5s;
}

body.touch {
  -webkit-tap-highlight-color: transparent;
}

body.noscroll {
  overflow: hidden;
}

.header {
  position: fixed;
  width: 100%;
  height: var(--header-height);
  background: var(--main-color);
  z-index: 998;
  top: 0;
}

.logo {
  text-decoration: none;
  font-weight: 700;
  font-size: 26px;
  display: inline-block;
  color: var(--white-color);
  margin-top: 0px;
  top: 0;
}

.catalog__button {
  border: none;
  border-radius: 10px;
  width: 120px;
  height: 40px;
  background-color: rgba(0, 0, 0, 0.25);
  display: inline-block;
}

.catalog__button__text {
  color: var(--white-color);
  font-size: 15px;
  font-weight: 700;
  text-align: right;
  width: auto;
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  float: right;
  margin-right: 16px;
}

.popup {
  position: fixed;
  left: -300px;
  width: var(--popup-width);
  height: 100%;
  background-color: var(--white-color);
  z-index: 1000;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
  overflow-y: auto;
  overflow-x: hidden;
  top: 0;
}

.popup.open {
  left: 0;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}

.popup__header {
  width: 100%;
  height: 80px;
  background-color: var(--main-color);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.logo__popup__menu {
  text-decoration: none;
  font-weight: 700;
  font-size: 26px;
  display: inline-block;
  color: var(--white-color);
  margin-left: 16px;
}

.popup__close__button {
  width: 32px;
  height: 32px;
  border-radius: 15%;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  justify-content: center;
  cursor: pointer;
  margin: 0 0 0 auto;
  margin-right: 16px;
}

.menu {
  list-style-type: none;
  width: 100%;
}

.menu__item {
  text-decoration: none;
  font-weight: 500;
  font-size: 16px;
  color: #000000;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 60px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  white-space: nowrap;
  -webkit-transition: 0.5s;
  transition: 0.5s;
  width: 100%;
  background-color: transparent;
  border: none;
  cursor: pointer;
}

.menu__item {
  color: var(--black-color);
}

.menu__item__group {
  width: 100%;
}

.dropper__nav__head__arrow {
  margin-left: 8px;
}

/*---------------------------------Меню------------------------------------*/

.navbar__wrap {
  width: 100%;
}

.container {
  width: 100%;
}

.navbar {
  width: 100%;
}

.navbar__wrap .menu {
  display: none;
}

.hamb {
  display: inline-block;
  margin: 0;
  position: relative;
  margin-top: 10.87px;
  margin-left: 16px;
}

.hamb__field {
  padding: 9px 15px;
  cursor: pointer;
  display: inline-block;
}

.bar {
  width: 27px;
  height: 3px;
  margin: 7px auto;
  background-color: white;
  -webkit-transition: 0.75s;
  transition: 0.75s;
  border-radius: 1.5px;
}

.blackout__menu {
  display: block;
  visibility: hidden;
  width: 100%;
  height: 100%;
  background-color: transparent;
  position: absolute;
  z-index: 999;
  left: 0;
  top: 0;
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
}

.language__popup__section {
  width: 100%;
  height: 50px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.blackout__menu.active {
  visibility: visible;
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
  background-color: rgba(0, 0, 0, 0.5019607843);
}

.popup .menu {
  width: 100%;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

._icon-shopping-cart::before {
  font-size: 25px;
  padding: var(--part-icon-font-size);
  font-weight: 600;
  color: var(--black-color);
}

._icon-point-of-issue::before {
  font-size: 25px;
  padding: var(--part-icon-font-size);
  font-weight: 600;
  color: var(--black-color);
}

._icon-paper-plane::before {
  font-size: 25px;
  padding: var(--part-icon-font-size);
  font-weight: 500;
  color: var(--black-color);
}

._icon-faq::before {
  font-size: 25px;
  padding: var(--part-icon-font-size);
  font-weight: 600;
  color: var(--black-color);
}

._icon-catalog::before {
  font-size: 25px;
  padding: var(--part-icon-font-size);
  font-weight: 500;
  color: var(--black-color);
}

.dropper__nav__choice {
  color: var(--black-color);
  text-decoration: none;
  display: inline-block;
  margin-top: 15px;
  margin-left: 8px;
}

.dropper__nav__head {
  text-decoration: none;
  display: inline-block;
  margin-top: 15px;
  font-weight: 700;
  font-size: 15px;
  color: var(--half-black-color);
}

._icon-arrow {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  color: var(--black-color);
  font-size: 15px;
  cursor: pointer;
  -webkit-transition: 0.5s;
  transition: 0.5s;
  position: relative;
  float: right;
  margin-top: 16px;
  margin-right: 16px;
}

._icon-arrow.active {
  -webkit-transform: rotate(-180deg);
      -ms-transform: rotate(-180deg);
          transform: rotate(-180deg);
  -webkit-transition: 0.5s;
  transition: 0.5s;
}

.dropper__nav__menu {
  max-height: 0;
  overflow: hidden;
  -webkit-transition: max-height 0.5s ease-out;
  transition: max-height 0.5s ease-out;
  margin-bottom: 15px;
}

.dropper__nav__menu__list {
  width: 100%;
  height: 100%;
}

.social__media__head {
  text-decoration: none;
  display: inline-block;
  position: relative;
  margin-top: 15px;
  font-weight: 700;
  font-size: 15px;
  margin-left: 8px;
  color: var(--half-black-color);
}

.social__media {
  font-size: 15px;
  text-decoration: none;
  color: var(--white-color);
  cursor: pointer;
  -webkit-transition: 0.75s;
  transition: 0.75s;
  width: 30px;
  height: 30px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  margin-right: 8px;
  border-radius: 50%;
}

.social__media__list {
  width: 230px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  list-style: none;
  margin-left: 8px;
  margin-top: 10px;
  margin-bottom: 10px;
}

._icon-facebook {
  background: -webkit-gradient(linear, left top, left bottom, from(#17A9FD), to(#0165E1));
  background: linear-gradient(180deg, #17A9FD, #0165E1);
}

._icon-twitter {
  background: #1DA1F2;
}

._icon-youtube {
  background: #FF0000;
}

._icon-instagram {
  background: linear-gradient(45deg, #ffb700 14.65%, #ff6800 31.68%, #cb217d 54.72%, #7e00aa 85.35%);
}

._icon-viber {
  background: #7360f2;
}

._icon-telegram {
  background-color: #229ED9;
}

.language__head {
  text-decoration: none;
  display: inline-block;
  margin-left: 8px;
  font-weight: 700;
  font-size: 15px;
  color: var(--half-black-color);
}

.language__choice {
  width: 60px;
  height: 35px;
  background-color: transparent;
  border-radius: 5px;
  font-weight: 500;
  font-size: 15px;
  color: #000000;
  border: 2px solid rgba(0, 0, 0, 0.25);
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-left: 15px;
  cursor: pointer;
}

.language__choice {
  background-color: rgba(255, 166, 0, 0.2);
  border: 2px solid var(--main-color);
}

.language__switcher {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  list-style: none;
}

.dropper__nav__menu__head__arrow {
  white-space: nowrap;
}

._icon-carrot::before {
  font-size: 26px;
  color: var(--white-color);
}

.popup_bar {
  width: 10px;
  background-color: var(--white-color);
  display: block;
  position: relative;
  height: 2px;
  border-radius: 1px;
}

.popup_bar1 {
  rotate: -45deg;
  top: 1px;
}

.popup_bar2 {
  rotate: 45deg;
  top: -1px;
}

.popup__indent {
  height: 8px;
  width: 100% wd;
  background-color: transparent;
}

.popup__catalog__button {
  border: none;
  background: transparent;
  cursor: pointer;
}

.catalog__button {
  border: none;
  border-radius: 10px;
  width: 120px;
  height: 40px;
  background-color: rgba(0, 0, 0, 0.25);
  display: inline-block;
}

.catalog__button__text {
  color: var(--white-color);
  font-size: 15px;
  font-weight: 700;
  text-align: right;
  width: auto;
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  float: right;
  margin-right: 16px;
}

body {
  font-family: "Raleway";
  height: 100%;
  width: 100%;
  overflow-y: auto;
}

* {
  margin: 0;
  padding: 0;
}

:root {
  --main-color: orange;
  --main-color-25: rgba(255, 165, 0, 0.25);
  --links-in-menu: #5084B2;
  --white-color: #ffffff;
  --black-color: #000000;
  --header-height: 80px;
  --menu-background-icon-color: rgba(0, 0, 0, 0.1);
  --part-icon-font-size: 10px;
  --icon-font-size: 30px;
  --half-icon-font-size: -15px;
  --scrollbar-width: 8px;
  --popup-width: 300px;
  --popup-width-20px: 280px;
  --menu-line-color: rgb(0, 0, 0, 0.25);
  --square-width: 12px;
  --half-black-color: rgb(0, 0, 0, 0.5);
  --social-media-width: 10%;
  --main-color-40: rgba(255, 165, 0, 0.4);
  --main-color-30: rgba(255, 165, 0, 0.3);
}

@media (max-width: 450px) {
  .popup {
    width: 100%;
    left: -100%;
  }
}

@media (max-width: 300px) {
  .popup {
    left: -300px;
  }
}

@media (max-width: 236px) {
  .popup {
    overflow-x: auto;
  }

  .popup.open {
    overflow-x: auto;
  }

  .menu__line {
    width: 220px;
  }

  .menu__item__group {
    width: 220px;
  }

  .popup__header {
    width: 238px;
  }

  .language__popup__section {
    width: 220px;
  }

  .dropper__nav__menu__list {
    width: 220px;
  }

  .dropper__nav__head__arrow {
    width: 220px;
  }

  .social__media__head {
    width: 220px;
  }
}